@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body {
  font-family: 'Sen', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus {
  outline: none;
}

input::placeholder {
  color:#474747;
}

select:focus {
  outline: none;
}

input[type=checkbox] {
  accent-color: #474747;
}